@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">About ASP.NET Core MVC</h1>

<div class="container-fluid">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/oJQ2KrI9_DQ?si=v6fppLI9day5xGdz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="container-fluid p-3">
    <h2>The Evolution of ASP.NET Core MVC</h2>
    <p>ASP.NET Core MVC exists now as something a bit different than what it started as back in 2002. Originally Microsoft released the .NET and ASP.NET frameworks. These were propietary and only ran on Windows and were also lacking in their ability to separate concerns, facilitate automated testing, and performance.</p>
    <p>This led to the creation and release of ASP.NET MVC in 2007. The release showed to improve on many of those shortcomings, with the exception of its proprietary nature, keeping it exclusive to Windows operating systems. This means that it was limited in its ability to run on internet servers that used different operating systems. </p>
    <p>To the relief of many, Microsoft finally lifted the proprietary gate and released ASP.NET Core MVC in 2015 on a new open source ASP.NET Core platform that was able to finally coexist with other operating systems. This brought on a new age of web development that allowed for more interconnection between major technologies.</p>
</div>
